body {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 40px;
  align-items: center;

  background-color: rgb(8, 154, 118);
}

.nav img {
  width: 70px;
}

.nav a {
  color: white;
}

h2{
  margin-bottom: -10px;
}

main{
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background-color: black;
  color: white;
  margin-top: 5em;
}

footer a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}