body {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 40px;
  align-items: center;

  background-color: rgb(8, 154, 118);
}

.nav img {
  width: 70px;
}

.nav a {
  color: white;
}

header img,
header video  {
  width: 100%;
  height: 80vh;
  filter: grayscale(80%);
}

header {
  background-color: rgb(24, 23, 23);
}

.me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
}

.me p {
  width: 18em;
}

.me img {
  border-radius: 100%;
  text-align: center;
  width: 18em;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background-color: black;
  color: white;
}

footer a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}